# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Hackathon Agent Key (if you want to ignore the PEM file to avoid committing it by accident)
*.pem